
@{
    ViewData["Title"] = "IsBankFailCallback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IsBankFailCallback</h1>
<div class="container">
    <p>
        @ViewBag["PaymentResult"]
    </p>
</div>

