@model LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<form asp-action="Login" method="post">
    <div class="input_box">
        <input type="email" asp-for="Username" placeholder="Enter email address" required />
    </div>
    <div class="input_box">
        <input type="password" asp-for="Password" placeholder="Enter your password" required />
    </div>
    <button type="submit">Giriş Yap</button>
</form>

