
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ödeme Başarılı</h2>
<p>Ödemeniz başarıyla gerçekleştirilmiştir. İşleminiz tamamlanmıştır.</p>
<a href="@Url.Action("Index", "Home")">Ana Sayfaya Dön</a>
